<!--
====================================================
Title: Index Page for Pets-R-Us
Author: Amanda Groves
Date: 19 June 2022
Modified By: Amanda Groves
Description: Landing Page for Pets-R-Us
=====================================================
-->
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Pets-R-Us Project</title>
        <!--Temp Link to CSS Styling, Add in Fonts later-->
        <link href="" type="text/css" rel="stylesheet">
        <!--Add index.js file-->
        <script src="../index.js"></script>
    </head>
    <body>
        <header>
            <h1>Pets-R-Us</h1>
        </header>
        <div id="navbar">
            <a href="#">Home</a>
            <a href="#">Grooming</a>
        </div>
        <div id="container">
            

        </div>

    </body>
</html>